---
import UserProfile from "./UserProfile.astro";
import SvgBackground from "../shared/SvgBackground";
---

<div id="fullblur" class="flex w-full fixed flex-col h-screen">
    <SvgBackground {...Astro.props} position={"top"} />
    <UserProfile {...Astro.props} />
</div>
