---
import SvgBackground from "../shared/SvgBackground";
import UserProfile from "./UserProfile.astro";
---

<div class="grid grid-rows-3 w-full fixed h-screen">
    <SvgBackground {...Astro.props} position={"top"} />
    <UserProfile {...Astro.props} />
    <div></div>
</div>
