---
import SvgBackground from "../shared/SvgBackground";
import UserProfile from "./UserProfile.astro";

const { svgAsset } = Astro.props;
---

<div class="grid grid-rows-3 w-full fixed h-screen">
    <SvgBackground svgAsset={svgAsset} position={"top"} />
    <UserProfile {...Astro.props} />
    <div></div>
</div>
