<footer class=":: text-center py-6">
    <span class=":: text-sm 2xl:text-base text-rosyBrown"
        >©2017 - {new Date().getFullYear()}
        <span class=":: font-sans text-[#ff3860]">♥</span> Made by Wincer.</span
    >
</footer>
