.non-activate {
    transform: scale(0.8);
    transform-origin: 0 100%;
}

.blur-xs {
    filter: blur(2px)
}

@media screen and (max-width: 640px) {
    .non-activate {
        transform: scale(1);
    }
}

@media screen and (max-height: 700px) {
    #profile {
        margin-top: -2rem;
    }
}

html::-webkit-scrollbar {
    /* Safari 和 Chrome */
    display: none;
}

html {
    /* Firefox */
    scrollbar-width: none;
    /* IE 和 Edge */
    -ms-overflow-style: none;

}